<div class="container">
    <!-- Icon -->
    <div class="fadeIn first" id="logo">
        <img src="../../assets/logo.png" id="icon" alt="User Icon">
    </div>
    <div class="row">
        <div class="col-lg-8" id="current-user">
            <p *ngIf="user">Current User: {{ user?.email }} : {{ user?.displayName}}</p>
        </div>
        <div class="col-lg-4" id="button-col">
            <button type="button" class="btn btn-primary" *ngIf="user" (click)="logout()">Logout</button>
        </div>
    </div>
</div>