<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
            <h1><span class="label label-default">Logo Here</span></h1>

        </div>

        <!-- Login Form -->
        <form #loginForm="ngForm" (ngSubmit)="resetPassword(loginForm)">
            <!-- username-->
            <input ngModel #email="ngModel" type="text" id="email" class="fadeIn second form-control" name="email"
                placeholder="email">
            <input type="submit" class="fadeIn fourth" value="Reset Password">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <div class="redirectToLogin">
                <a class="underlineHover" routerLink="/login">Return to Login</a>
            </div>
            <br>
            <div class="redirectToPasswordReset">
                <a class="underlineHover" routerLink="/register">Dont have an account?</a>
            </div>
        </div>

    </div>